@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');
*{
    background-color: orange;
    font-family: 'Yuji Mai';
    font-size: 15px;
}
.card{
    background-color: brown;
    width: 300px;
    height: 150px;
    position: relative;
    border-radius: 10px;
}
body{
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100vh;
}
.background{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    border-radius: 10px;
}
.circle{
    display: flex;
    background-color: yellow;
    opacity: 0.4;
    transition: all 100ms;
}
.card:hover .circle{  /* le estamos diciendo que al pasar el cursor por la card, solo afectaremos al circulo */
    scale: 1.1;
}
.circle:nth-child(1){
    position: absolute;
    background-color: yellow;
    height: 200px;
    width: 200px;
    top: -50%;
    right: -30%;
    border-radius: 50%;
    transition-delay: 150ms;
}
.circle:nth-child(2){
    position: absolute;
    background-color: yellow;
    height: 150px;
    width: 150px;
    top: -40%;
    right: -25%;
    border-radius: 50%;
    transition-delay: 100ms;
}
.circle:nth-child(3){
    position: absolute;
    background-color: yellow;
    height: 100px;
    width: 100px;
    top: -30%;
    right: -20%;
    border-radius: 50%;
    transition-delay: 50ms;
}
.botones{
    position: absolute;
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
.clima{
    background-color: pink;
    width: 100%;
    border: 1px white solid;
}
.clima:hover{
    width: 150%;
    height: 30px;
    transition: all 500ms;
}